p {
  line-height: 19px;
  margin: 0 0 1rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #eeff30;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

body,
html,
.steps-wrap {
  height: 100%;
}

/* Header */
.header {
  top: 0;
  right: 10px;
  left: 10px;
  position: absolute;
  z-index: 100;
}
.header .logo {
  position: relative;
  font-size: 35px;
  font-style: italic;
  font-family: fantasy;
  font-weight: initial;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.header .header-geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  position: relative;
  top: 5px;
  left: 8px;
}
.header .header-geo .geo-flag {
  position: relative;
  z-index: 11;
}
.header .header-geo .geo-flag .flag-icon {
  margin: 0;
  top: auto;
  width: 28px;
  height: 28px;
  border: 2px solid #fc065f;
  background-color: #4A8CCA;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 11px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 11px rgba(0, 0, 0, 0.8);
}
.header .header-geo .geo-city {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  padding: 5px 10px 5px 20px;
  background-color: #fc065f;
  
  border-radius: 6px;
  position: relative;
  left: -15px;
}

/* Step */
.steps-wrap {
  position: relative;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0;
  padding: 10px 10px 20px;
  display: none;
  background-size: cover;
  background-position: center;
}
.step .step-content-wrap {
  padding: 17px 15px 0;
  position: relative;
  width: 100%;
}
.step .step-content-wrap::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: 30px;
  left: -5px;
  background-color: rgba(74, 140, 202, 0.7);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.step .step-content-wrap > * {
  position: relative;
  z-index: 10;
}
.step .step-content-wrap .content-desc {
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  margin-top: 0;
  margin-bottom: 5px;
}
.step .step-content-wrap .step-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #EEFF30;
  margin: 0 auto 10px;
}

/* Buttons */
.btn-wrap,
.btns-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 17px;
}

.btn {
  font-size: 22px;
  letter-spacing: 0.03em;
  font-weight: 900;
  width: 48%;
  min-height: 60px;
  line-height: 1;
  text-align: center;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.btn.btn-1 {
  color: #4A8CCA;
  background: #EEFF30;
}
.btn.btn-2 {
  color: #fff;
  background-color: #4A8CCA;
  border: 4px solid #fff;
}

.btn-wrap .btn {
  width: 100%;
}

/* Custom Step6 (final-step) */
.step.final-step {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 7vh;
}
.step.final-step .final-content-top {
  width: 100%;
  text-align: center;
  color: #EEFF30;
  
  padding: 13px 10px 10px;
  margin-top: 30px;
  position: relative;
  -webkit-transition: opacity .3s .1s ease-out;
  transition: opacity .3s .1s ease-out;
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 140, 202, 0)), color-stop(20.83%, #4A8CCA), color-stop(76.56%, #4A8CCA), to(rgba(74, 140, 202, 0)));
  background: linear-gradient(90deg, rgba(74, 140, 202, 0) 0%, #4A8CCA 20.83%, #4A8CCA 76.56%, rgba(74, 140, 202, 0) 100%);
}
.step.final-step .final-content-top::before, .step.final-step .final-content-top::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(20.83%, #FFFFFF), color-stop(76.56%, #FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 20.83%, #FFFFFF 76.56%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.8;
}
.step.final-step .final-content-top::before {
  top: -1px;
}
.step.final-step .final-content-top::after {
  bottom: -1px;
}
.step.final-step .final-content-top .content-top-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
}
.step.final-step .final-content-top .content-top-title-desc {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  margin: 0;
}
.step.final-step .roulette-wrap {
  margin: 6px auto -20px;
  width: 74%;
  max-width: 70%;
  position: relative;
  z-index: 10;
}
.step.final-step .roulette-wrap .roulette-frame {
  width: 100%;
  max-width: 100%;
}
.step.final-step .roulette-wrap .roulette-frame.roulette-animate {
  -webkit-animation: spin 1.6s;
          animation: spin 1.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.step.final-step .roulette-wrap .roulette-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
}
.step.final-step .btn-wrap {
  margin-top: 10px;
}
.step.final-step .step-content-wrap .step-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  opacity: 1;
  margin: 5px auto 10px;
}
.step.final-step .step-content-wrap,
.step.final-step .final-content-top {
  opacity: 0;
}
.step.final-step.is--visible .step-content-wrap,
.step.final-step.is--visible .final-content-top {
  opacity: 1;
}

.has-push .step.final-step {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.has-push .step.final-step .step-content-wrap,
.has-push .step.final-step .final-content-top {
  opacity: 0;
  display: none;
}
.has-push .step.final-step.is--visible {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.has-push .step.final-step.is--visible .step-content-wrap,
.has-push .step.final-step.is--visible .final-content-top {
  opacity: 1;
  display: block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(2158deg);
            transform: rotate(2158deg);
  }
  95% {
    -webkit-transform: rotate(2159deg);
            transform: rotate(2159deg);
  }
  100% {
    -webkit-transform: rotate(2160deg);
            transform: rotate(2160deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(2158deg);
            transform: rotate(2158deg);
  }
  95% {
    -webkit-transform: rotate(2159deg);
            transform: rotate(2159deg);
  }
  100% {
    -webkit-transform: rotate(2160deg);
            transform: rotate(2160deg);
  }
}
/* Preload */
.preload,
.preload-img:after,
.preload-img:before {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.step#step1,
.preload-img.preload-img1 {
  background-image: url("/index_files/images/105.jpg");
}

.step#step2,
.preload-img.preload-img2 {
  background-image: url("/index_files/images/106.jpg");
}

.step#step3,
.preload-img.preload-img3 {
  background-image: url("/index_files/images/107.jpg");
}

.step#step4,
.preload-img.preload-img4 {
  background-image: url("/index_files/images/108.jpg");
}

.step#step5,
.preload-img.preload-img5 {
  background-image: url("/index_files/images/111.jpg");
}

/* Unsubscribe */
.unsubscribe_unable .steps-wrap .step .block-btn,
.unsubscribe_unable .steps-wrap .step .block-btns {
  padding-bottom: 30px;
}

.unsubscribe {
  font-size: 11px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 22px;
  z-index: 111;
}
.unsubscribe a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.unsubscribe a:hover {
  text-decoration: underline;
}

/* RTL */
.lang-he {
  direction: rtl;
}
.lang-he .header {
  direction: ltr;
}

/*----> Responsive <---- */
/* Screen 736px */
@media (max-width: 767px) {
  .has-push .step .step-content-wrap {
    margin-bottom: 75px;
  }
}
@media (max-width: 479px) and (max-height: 728px) {
  .has-push.multilang .step.final-step .step-content-wrap {
    margin-bottom: 55px;
  }
  .has-push.multilang .step.final-step .roulette-wrap {
    width: 60%;
  }
  .has-push.multilang .step.final-step .roulette-wrap .roulette-arrow {
    max-width: 50px;
  }

  html[lang="it"] .has-push .step.final-step .step-content-wrap {
    margin-bottom: 55px;
  }
  html[lang="it"] .has-push .step.final-step .roulette-wrap {
    width: 60%;
  }
  html[lang="it"] .has-push .step.final-step .roulette-wrap .roulette-arrow {
    max-width: 50px;
  }
}
@media (max-width: 479px) and (max-height: 650px) {
  .step.final-step {
    padding-bottom: 3vh;
  }

  .step .step-content-wrap .step-title {
    font-size: 21px;
    line-height: 24px;
  }

  .has-push .step.final-step .roulette-wrap {
    width: 60%;
  }
  .has-push .step.final-step .roulette-wrap .roulette-arrow {
    max-width: 50px;
  }

  html[lang="it"] .step.final-step .roulette-wrap,
  .multilang .step.final-step .roulette-wrap {
    width: 62%;
  }
  html[lang="it"] .step.final-step .roulette-wrap .roulette-arrow,
  .multilang .step.final-step .roulette-wrap .roulette-arrow {
    max-width: 55px;
  }
  html[lang="it"] .has-push .step.final-step.is--visible .roulette-wrap, html[lang="it"].has-push .step.final-step.is--visible .roulette-wrap,
  .multilang .has-push .step.final-step.is--visible .roulette-wrap,
  .multilang.has-push .step.final-step.is--visible .roulette-wrap {
    width: 50%;
  }
  html[lang="it"] .has-push .step.final-step.is--visible .roulette-arrow, html[lang="it"].has-push .step.final-step.is--visible .roulette-arrow,
  .multilang .has-push .step.final-step.is--visible .roulette-arrow,
  .multilang.has-push .step.final-step.is--visible .roulette-arrow {
    max-width: 45px;
  }
  html[lang="it"] .has-push .step.final-step .step-content-wrap, html[lang="it"].has-push .step.final-step .step-content-wrap,
  .multilang .has-push .step.final-step .step-content-wrap,
  .multilang.has-push .step.final-step .step-content-wrap {
    margin-bottom: 75px;
  }
  html[lang="it"] .has-push .step.final-step .step-content-wrap .step-title, html[lang="it"].has-push .step.final-step .step-content-wrap .step-title,
  .multilang .has-push .step.final-step .step-content-wrap .step-title,
  .multilang.has-push .step.final-step .step-content-wrap .step-title {
    font-size: 14px;
  }
  html[lang="it"] .has-push.active-step-3 .header .header-geo, html[lang="it"].has-push.active-step-3 .header .header-geo,
  .multilang .has-push.active-step-3 .header .header-geo,
  .multilang.has-push.active-step-3 .header .header-geo {
    top: 0;
    left: 5px;
  }
  html[lang="it"] .has-push.active-step-3 .header .logo img, html[lang="it"].has-push.active-step-3 .header .logo img,
  .multilang .has-push.active-step-3 .header .logo img,
  .multilang.has-push.active-step-3 .header .logo img {
    max-width: 100px !important;
  }
}
/* Iphone 8/7/6S, Gallaxy S5 */
@media (max-width: 400px) and (max-height: 570px) {
  .step.final-step .roulette-wrap {
    width: 59%;
  }

  .step.final-step .roulette-wrap .roulette-arrow {
    max-width: 45px;
  }

  html[lang="it"] .step.final-step .final-content-top,
  .multilang .step.final-step .final-content-top {
    padding: 10px;
  }
  html[lang="it"] .step.final-step .roulette-wrap,
  .multilang .step.final-step .roulette-wrap {
    width: 55%;
  }
  html[lang="it"] .step.final-step .roulette-wrap .roulette-arrow,
  .multilang .step.final-step .roulette-wrap .roulette-arrow {
    max-width: 45px;
  }
  html[lang="it"] .has-push .step.final-step .roulette-wrap, html[lang="it"].has-push .step.final-step .roulette-wrap,
  .multilang .has-push .step.final-step .roulette-wrap,
  .multilang.has-push .step.final-step .roulette-wrap {
    width: 55%;
    margin-top: -3px;
    margin-bottom: -25px;
  }
  html[lang="it"] .has-push .step.final-step .roulette-wrap .roulette-arrow, html[lang="it"].has-push .step.final-step .roulette-wrap .roulette-arrow,
  .multilang .has-push .step.final-step .roulette-wrap .roulette-arrow,
  .multilang.has-push .step.final-step .roulette-wrap .roulette-arrow {
    max-width: 50px;
  }
  html[lang="it"] .has-push .step.final-step .step-content-wrap .step-title, html[lang="it"].has-push .step.final-step .step-content-wrap .step-title,
  .multilang .has-push .step.final-step .step-content-wrap .step-title,
  .multilang.has-push .step.final-step .step-content-wrap .step-title {
    font-size: 15px;
    line-height: 17px;
  }
  html[lang="it"] .has-push .step.final-step .final-content-top .content-top-title, html[lang="it"].has-push .step.final-step .final-content-top .content-top-title,
  .multilang .has-push .step.final-step .final-content-top .content-top-title,
  .multilang.has-push .step.final-step .final-content-top .content-top-title {
    font-size: 15px;
    line-height: 16px;
  }
  html[lang="it"] .has-push.active-step-3 .header, html[lang="it"].has-push.active-step-3 .header,
  .multilang .has-push.active-step-3 .header,
  .multilang.has-push.active-step-3 .header {
    top: -5px;
  }
}
/* Iphone SE/6 */
@media (max-width: 400px) and (max-height: 460px) {
  .header {
    top: 5px;
  }

  .logo-img {
    max-width: 31%;
  }

  .header .header-geo {
    top: 0px;
  }

  .header .header-geo .geo-city {
    line-height: 12px;
  }

  .step .step-content-wrap .content-desc {
    font-size: 16px;
    line-height: 19px;
  }

  .step .step-content-wrap .step-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
  }

  .step.final-step .step-content-wrap .step-title {
    font-size: 14px;
    line-height: 17px;
  }

  .btn {
    min-height: 55px;
  }

  .step.final-step .step-content-wrap,
  .step.final-step .final-content-top {
    display: none;
    opacity: 0;
  }

  .step.final-step .roulette-wrap {
    width: 55%;
  }

  .step.final-step .roulette-wrap .roulette-arrow {
    max-width: 40px;
  }

  .step.final-step {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .step.final-step.is--visible {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .step.final-step.is--visible .step-content-wrap,
  .step.final-step.is--visible .final-content-top {
    opacity: 1;
    display: block;
  }

  .step.final-step .final-content-top {
    padding: 9px 10px;
  }

  .step.final-step .final-content-top .content-top-title {
    font-size: 16px;
    line-height: 18px;
  }

  .step.final-step .final-content-top .content-top-title-desc {
    font-size: 14px;
    line-height: 16px;
  }

  html[lang="it"] .header,
  .multilang .header {
    top: -5px;
  }
  html[lang="it"] .step.final-step.is--visible .roulette-wrap,
  .multilang .step.final-step.is--visible .roulette-wrap {
    width: 40%;
    margin-bottom: -25px;
  }
  html[lang="it"] .step.final-step.is--visible .roulette-wrap .roulette-arrow,
  .multilang .step.final-step.is--visible .roulette-wrap .roulette-arrow {
    max-width: 28px;
  }
  html[lang="it"].active-step-3 .header .logo img,
  .multilang.active-step-3 .header .logo img {
    max-width: 100px !important;
  }
}
